doctype html
html(lang='en')
  head
    title FaceRecognition OPS
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #react-container!= html
    script(src='/build/bundle.js')
    script(src="/socket.io/socket.io.js")
    if error
      h2!= '<span>500</span> The following error occured during server rendering<br />\n'
      pre!= error
      style.
        h2 span { font-size: 28px; }
        body { color: red; padding: 10px 20px; }
    else
      script.
        ReactDOM.render(
          React.createElement(!{Component}, !{JSON.stringify(model).replace(/</g, '\\u003c').replace(/>/g, '\\u003e')}),
          document.getElementById('react-container')
        )
